{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "environment": {
            "value": "dev"
        },
        "easyAuthTenantId": {
            "value": "your-tenant-id"
        },
        "easyAuthClientId": {
            "value": "your-entra-app-client-id"
        },
        "tags": {
            "value": {
                "owner": "your-name-here",
                "solution": "terradorian",
                "managedBy": "bicep"
            }
        }
    }
}